*{
    margin:0;
    padding:0;
}
body{
    background-color: #eee;
    overflow: hidden;
}
#canv{
    width:100%;
    height:100vh;
    position: absolute;
}
#container{
    position: absolute;
    top:0;
    left:0;
}
#stats{
    border:1px solid transparent ;
    font-size: 18px;
    height:50px;
    width:100vw;
    
}
#but{
    
}
#yt{
   
    color:#4ae;
}